
@{ Layout = null; }

@using WebApplication3.Models;

@{
                ViewBag.Title = "RoleList";

}


<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Role Information</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="~/css/Stylesheet.css" rel="stylesheet" />


</head>

<body>

    <nav style="padding: 0px; background-color: #0c4da2" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="~/Images/logo.jpg" style="margin-left:15%;" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:white" href="@Url.Action("GetRoleList","User")">&nbsp;Role &nbsp; Master</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:white" href="@Url.Action("GetDepList","User")">Department Master</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" style="color:white" href="@Url.Action("GetStudentList","User")">Student Master</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" style="margin-left: 720px; color: white" href="@Url.Action("display","Project")">Logout</a>

                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <br /><br />

        <h2 style="color: #19234F;margin-left:25%;"><b>Role Master List</b></h2>

        <p style="color: #19234F;margin-left:25%;">

            @Html.ActionLink("Create New", "RoleMaster")

        </p>

        <table>

            <thead>

                <tr>

                    <th>Role Id</th>

                    <th>Role Name</th>

                    <th>Role Designation</th>

                    <th>Created Date</th>

                    <th>Is Active</th>

                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var item in Model as List<RoleModel>)

                {

                    <tr>

                        <td>@item.Role_id</td>

                        <td>@item.Role_name</td>

                        <td>@item.Role_designation</td>

                        <td>@item.created_date</td>

                        <td>@item.Is_active</td>

                        <td><a href="#">Edit </a>||<a href="#">Delete </a></td>

                    </tr>
                                }

            </tbody>

        </table>

    </div>

</body>

</html>